/doc/
/lib/
/obj/
*.sdf
*.suo
*.opensdf
/testdata/
/prj/linux_cmake_CppBaseTest/build/
/prj/linux_cmake_DesignPatternsTest/build/
/prj/linux_cmake_gtest_Test/build/
/prj/linux_cmake_gtest_Test/testdata
/prj/linux_cmake_CppBaseTest/testdata
/prj/linux_cmake_Json11_Test/testdata
/prj/linux_cmake_Json11_Test/build/
/prj/linux_cmake_miniz_Test/testdata
/prj/linux_cmake_miniz_Test/build/
/prj/linux_cmake_spdlog_Test/testdata
/prj/linux_cmake_spdlog_Test/build/
/prj/linux_cmake_cJSON_Test/testdata
/prj/linux_cmake_cJSON_Test/build/
/prj/linux_cmake_CppBaseTest/kcov_report/
/prj/linux_cmake_Messy_Test/testdata
/prj/linux_cmake_Messy_Test/build/
/src/yaml-cpp/build/
/src/yaml-cpp/.vscode/
/src/libuuid/build/

